isolated/n8n/daily-uptime-workflow.json
{
  "name": "Daily Website Uptime Summary Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hour",
              "expression": "9"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "websites",
              "name": "websites",
              "value": "https://example.com\nhttps://google.com\nhttps://github.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "website-config",
      "name": "Website Config",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "websites",
        "options": {}
      },
      "id": "split-websites",
      "name": "Split Websites",
      "type": "n8n-nodes-base.splitOut",
      "position": [680, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.websites }}",
        "method": "HEAD",
        "sendHeaders": false,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": false,
        "bodyParameters": {
          "parameters": []
        },
        "sendQuery": false,
        "queryParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 10
        }
      },
      "id": "http-check",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 300],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url",
              "name": "url",
              "value": "={{ $json.websites }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.statusCode && $json.statusCode < 400 ? 'UP' : 'DOWN' }}",
              "type": "string"
            },
            {
              "id": "response_time",
              "name": "response_time",
              "value": "={{ $json.responseTime }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "position": [1120, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.merge",
      "position": [1340, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary",
              "name": "summary",
              "value": "={{ $json.map(item => `${item.status === 'UP' ? '✅' : '❌'} ${item.url} (${item.response_time || 'N/A'}ms)`).join('\\n') }}",
              "type": "string"
            },
            {
              "id": "total_up",
              "name": "total_up",
              "value": "={{ $json.filter(item => item.status === 'UP').length }}",
              "type": "number"
            },
            {
              "id": "total_down",
              "name": "total_down",
              "value": "={{ $json.filter(item => item.status === 'DOWN').length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.set",
      "position": [1560, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Daily Website Uptime Report\\n\\n**Date:** {{ new Date().toLocaleDateString() }}\\n**Time:** {{ new Date().toLocaleTimeString() }}\\n\\n### Status Summary\\n- **Total Websites:** {{ $json.length }}\\n- **Up:** {{ $json.total_up }}\\n- **Down:** {{ $json.total_down }}\\n\\n### Detailed Results\\n{{ $json.summary }}\\n\\n---\\n*Generated by n8n workflow*",
        "height": 400,
        "width": 600
      },
      "id": "email-template",
      "name": "Email Template",
      "type": "n8n-nodes-base.set",
      "position": [1780, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "admin@example.com",
        "subject": "Daily Website Uptime Report - {{ new Date().toLocaleDateString() }}",
        "text": "={{ $json.content }}",
        "html": "",
        "attachments": [],
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [2000, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Website Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Config": {
      "main": [
        [
          {
            "node": "Split Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Websites": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
